body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 10px;
}

html,
#map {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.waypoint {
  display: none;
  border-top: 1px solid black;
  padding-top: 20px;
  margin-top: 20px;
}

.waypoint:first-child {
  border-top: 0;
  margin: 0;
  padding: 0;
}

.active {
  display: block;
}

.caption {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.coordinates {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto 10px;
}

.directions {
  font-style: italic;
}

audio {
  display: block;
  margin: 0 auto;
}

#map {
  height: 260px;
  margin: 0 auto 20px;
}

#travel_selector {
  display: none;
}